RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]

# Izinkan akses ke uploads
<FilesMatch "\.(jpg|jpeg|png|webp|gif)$">
  Header set Cache-Control "max-age=86400, public"
</FilesMatch>
